.main_body {
    background-color: bisque;
}

.app_title {
    all: revert;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: black;
}

.task_list {
    border-color: rgb(231, 249, 241);
    border-radius: 15px;
    text-align: center;
    color: cadetblue;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: cornsilk;
    transition: transform 2s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.task_list:hover {
    transform: scale(1.07);
}

.creation_form_body {
    background-color: bisque;
}

.creation_form_text {
    all: revert;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: black;
}

.creation_form {
    all: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: black;
}

.create-btn {
    margin-left: 675px;
    font-size: 1.5rem;
    padding: 10px 20px;
}

.detail_body {
    background-color: bisque;
}

.task_detail {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 30px !important;
    color: cadetblue !important;
}

.detail_txt {
    all: revert;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 30px !important;
    color: black !important;
}

.delete_body {
    background-color: bisque;
}

.create-form-btn {
    margin-left: 675px; 
}

.return-btn {
    margin-top: 20px;
}

.delete-btn {
    margin-top: 30px;
}

.delete_txt {
    all: revert;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 40px !important;
    color: black !important;
}