{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Форма для реєстрації</title>
</head>
<body>
    <h1>Реєстрація</h1>
    <form class="d-grid justify-content-center" method="post">
        {% csrf_token %}
        <div class="username_tag">
            <label for="{{ form.name.id_for_label }}">Ім'я:</label>
        </div>
        {{ form.username }}
        {{ form.username.errors }}

        <div class="password1_tag">
            <label for="{{ form.password1.id_for_label }}">Пароль:</label>
        </div>
        {{ form.password1 }}
        {{ form.password1.errors }}

        <div class="password2_tag">
            <label for="{{ form.password2.id_for_label }}">Підтвердження паролю:</label>
        </div>
        {{ form.password2 }}
        {{ form.password2.errors }}

        <button class="btn btn-primary mt-2" type="submit">Зареєструватися</button>
        <a class="btn btn-secondary btn mt-2" href="{% url 'task-list' %}">Повернутися</a>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</body>
</html>