{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Детальний огляд</title>
</head>
<body class="detail_body">
    <div class="task_detail">
        <h1 class="detail_txt">Детальний огляд</h1>
        <h2>{{ task.title }}</h2>
        <p>{{ task.status }}</p>
        <p>{{ task.priority }}</p>
    </div>
    <div class="d-grid gap-2 col-3 mx-auto">
        <a class="btn btn-warning" href="{% url 'task-update' task.pk %}" role="button">Змінити завдання</a>
        <a class="btn btn-danger" href="{% url 'task-delete' task.pk %}" role="button">Видалити завдання</a>
        <a class="btn btn-secondary" href="{% url 'task-list' %}" role="button">Повернутися</a>
    </div>
        <h3 class="text-center p-2 text_comment">Коментарі</h3>
        {% for comment in task.comments.all %}
        <div class="add_comments">
                <p>{{ comment.text }}</p>
                <small>{{ comment.creator.username }}</small>
                <small>{{ comment.created_ad }}</small>
                <a class="btn btn-outline-primary p-1" href="{% url 'edit-comment' comment.pk %}">Змінити коментар</a>
        </div>
            {% empty %}
                <h5 class="text-center">Коментарів ще немає</h5>
            {% endfor %}
    <div class="add_comment_form">
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-primary add_comment_button">Додати коментар</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>